/* 新增样式 */
.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* 禁止内容溢出 */
}

/* 一般样式 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: linear-gradient(135deg, #80ecff, #3A7EEF);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ade0d3;
}

.gradient-text {
  background-image: linear-gradient(to bottom right, #FF355E, #3A7EEF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

/* 导航栏样式 */
nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #60D5E9;
  background-color: white;
}

nav a:not(:last-child) {
  margin-right: 20px;
}

/* 媒体查询 */
@media (max-width: 768px) {
  nav a {
    display: block;
    text-align: center;
  }
}

/* 隐藏部分元素 */
#features,
#join {
  display: none;
}

