/* 新增样式 */
        .full-page {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden; /* 禁止内容溢出 */
        }
        /* 一般样式 */
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(135deg, #80ecff, #3A7EEF);
            color: white;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #ade0d3;
        }

        h1 {
            font-size: 48px;
            line-height: 1.2;
            margin: 0;
            text-align: center;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .gradient-text {
            background-image: linear-gradient(to bottom right, #FF355E, #3A7EEF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        img {
            max-width: 100%;
        }

        /* 导航栏样式 */
        nav a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            padding: 10px;
            transition: all 0.3s ease-in-out;
        }

        nav a:hover {
            color: #60D5E9;
            background-color: white;
        }

        nav a:not(:last-child) {
            margin-right: 20px;
        }

        /* 媒体查询 */
        @media (max-width: 768px) {
            nav a {
                display: block;
                text-align: center;
            }
        }

        /* 新增样式 */
        #home-buttons {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            margin-top: 50px;
        }

        #home-buttons button {
            width: calc(33.33% - 10px);
            height: 50px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: #dde28d;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        /* 新增样式 */
        #home-buttons button:first-child {
            margin-right: 10px;
        }

        /* 新增样式 */
        #home-buttons button:last-child {
            margin-left: 10px;
        }

        #home-buttons button:hover {
            background-color: #f44336;
        }

        /* 页面特定样式 */
        #home,
        #features,
        #join {
            z-index: 1; /* 让三个 div 位于最上层 */
        }

        #features,
        #join {
            display: none;
        }

        #features h1, 
        #join h1 {
            color: white;
        }
